@CHARSET "UTF-8";

.footer{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
  background:#6cf;
  height:50px;
 } 
 
 
 .topbar{
	width:100%;
	height:55px;
	background-color: #6cf;
}