@CHARSET "UTF-8";

 .welcome_info{
      font-size: large;
      margin-left: 30px;
      margin-top: 15px;
 	  color: white;
 }
 
 .time_info{
      font-size: large;
      margin-right: 30px;
      margin-top: 15px;
 }

.topbar{
	width:100%;
	height:55px;
	background-color: #6cf;
}

.footer{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
   background:#c0c0c0;
  height:50px;
 
 } 
 
 
 
 span{
    font-size: large;
 }
 
  strong{
    font-size: large;
 }
 
 a{
     font-size: large;
     font-style: inherit;
     font-weight: bolder;
 }
 