@CHARSET "UTF-8";

.vertical_center{
  width:40%;
  height:40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_input{
	display: block;
	width: 80%;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.button_div{
	width:80%;
	margin-left: auto;
	margin-right: auto;
	text-align:center
}


.login_btn{
	margin:5px;
	width: 40%;
}

.rowCheckbox{
	width:70%;
    margin-left: auto;
	margin-right: auto;
}

.body_back{
	background-image: url(pic/main.jpg);
	 filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
   -moz-background-size:100% 100%;
   background-size:100% 100%;
}
 
 
.error_log{
	width:70%;
    margin-left: auto;
	margin-right: auto;
}

