@CHARSET "UTF-8";

.container{
	padding-top: 50px;
}

 .import_button_div{
      text-align: right;
 }
 
 .modal_button{
    font-size: large;
 }
 
 .modal_button:hover {
     background-color: #6cf;
 }
 
 .input-group{
     padding: 10px;
 }
 
 
 .tr_padding{
     margin: 20px;
 }