<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common_header(~{::title},~{::link},~{::script})">
    <meta charset="utf-8">
	<link rel="stylesheet" href="../static/main.css"  th:href="@{/css/main.css}"  />
	<script src="../static/js/paper.js" th:src="@{/js/paper.js}"></script>
	<script type="text/javascript">
	window.onload = function(){ 
		   initQuestions($("#userpaper_id_text").val());
    }; 
	</script>
	<style  type="text/css">
			td {
			    border:1 solid #11586E;  
			}
			table { 
			   border:1 solid #11586E;
			}
</style>
</head>
<body style="background: none" > 
 
 <form action="#" th:action="@{/manage/setUserQuestions}"    method="post" id="user_question_form">
      
      <input type="text" th:value=${userPaperId} id="userpaper_id_text"  name="userPaperId" hidden>
      
      <div th:if="${panduan}==1" id="panduan_div">
          <span>判断题</span>
          <div id='panduan_question_div' class="input-group">
                 
          </div>
      </div>
      <div th:if="${danxuan}==1" id="danxuan_div">
                <span > 单选题</span>
		          <div id='danxuan_question_div' class="input-group">
		                 
		          </div>
      </div>
      <div th:if="${duoxuan}==1"  id="duoxuan_div">
      		<span > 多选题</span>
     		 <div id='duoxuan_question_div' class="input-group">
	                 
	          </div>
      </div>
      <div th:if="${wenda}==1" id="wenda_div">
      		<span > 问答题</span>
      		<div id='wenda_question_div' class="input-group">
	                 
	          </div>
      </div>
 
</form>
</body>
</html>