<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 <body>
  
   <div th:fragment="hiddenOrg">
   <!-- 机构管理 -->
       <div class="modal fade" id="addOwnOrgModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<form  id="orgForm" method="post" >
		 <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button><input type="text"
										name="orgId"  id="orgId"  hidden>
				</div>
				<div class="modal-body ">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><font color="red">*</font>机构名称：</span> <input type="text"
										name="orgName"  id="orgName"   class="form-control" required>
								</div>
							  <div class="input-group">
									<span class="input-group-addon"><font color="red">*</font>电话：</span> <input type="text"
										name="tel"   id="tel" class="form-control" required>
								</div>
							    <div class="input-group">
									<span class="input-group-addon"><font color="red">*</font>地址：</span> <input type="text"
										name="address"  id="address"  class="form-control" required>
								</div>
								 <div class="input-group">
									<span class="input-group-addon"><font color="red">*</font>联系人：</span> <input type="text"
										name="master"  id="master"   class="form-control" required>
								</div>
								 <div class="input-group">
									<span class="input-group-addon">联系人电话：</span> <input type="text"
										name="masterTel"  id="masterTel" class="form-control" >
								</div>
							</div>
						</div>
					</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-default">提交</a>
				</div>
			</div>
		</div>
		</form>
	 <style>
		#orgForm label.error 
	{ 
		color:Red; 
		font-size:13px; 
		margin-left:5px; 
		padding-left:16px; 
	} 
					</style>
			 </div>
         </div>
  
  
  
  <!-- 人员管理 -->
   <div th:fragment="hiddenUserInfo">
		   <div class="modal fade" id="alterUserInfoModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true"
				data-backdrop="static">
				<form  id="alterUserInfoForm" method="post" >
				 <div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button><input type="text"
												name="userId"  id="userId"  hidden>
						</div>
						<div class="modal-body ">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><font color="red">*</font>姓名：</span> <input type="text"
												name="userName"  id="userName"   class="form-control" required>
										</div>
									  <div class="input-group">
											<span class="input-group-addon"><font color="red">*</font>电话：</span> <input type="text"
												name="userTel"   id="userTel" class="form-control" required>
										</div>
									    <div class="input-group">
											<span class="input-group-addon"><font color="red">*</font>身份证号：</span> <input type="text"
												name="idcard"  id="idcard"  class="form-control" required>
										</div>
									</div>
								</div>
							</div>
		
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="submit"  class="btn btn-default" >提交</button>
						</div>
					</div>
				</div>
				</form>
		  <style>
				#alterUserInfoForm label.error 
			{ 
				color:Red; 
				font-size:13px; 
				margin-left:5px; 
				padding-left:16px; 
			} 
							</style>
		
		 </div>
  </div>
  
  <!-- 角色管理 -->
   <div th:fragment="hiddenRole">
     <div class="modal fade" id="roleManageModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<form  id="roleForm" method="post" >
		 <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button><input type="text"
										name="roleId"  id="roleId"  hidden>
				</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><font color="red">*</font>角色名称：</span> <input type="text"
										name="name"  id="name"   class="form-control" required>
								</div>
							  <div class="input-group" id="manage_log_div">
									<span class="input-group-addon"><font color="red">*</font>选择类别：</span> 
									  <select class="select_styled"  name="managelog">
				                          <option value="0">普通用户</option>
				                          <option value="1">管理员用户</option>
				                      </select>
								</div>
							    <div class="input-group">
									<span class="input-group-addon">说明：</span> 
 									<textarea name="info" id="info" placeholder="输入说明"></textarea>
								</div>
							</div>
						</div>
					</div>
                </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-default">提交</button>
				</div>
			</div>
			</div>
		</form>
	 <style>
		#roleForm label.error 
	{ 
		color:Red; 
		font-size:13px; 
		margin-left:5px; 
		padding-left:16px; 
	} 
	 </style>
  </div>
 </div>
   
 
			 
 
 
 
 <div th:fragment="hiddenRoleMenu">	 
	<!-- 设置角色菜单 -->		 
 <div class="modal fade" id="roleMenuManageModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<form  id="roleMenuForm" method="post" >
		 <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-body" id="role_menu_div">
							 
						</div>
					</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-default">提交</button>
				</div>
			</div>
		  </div>
		 </div>
		</form>
     </div>
   </div>
   
 <div th:fragment="hiddenAddMessage">	
 <div class="modal fade" id="addMessageManageModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<form  id="addMessageForm" method="post" >
		 <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">题目</span> <input type="text"
										name="name"    class="form-control" required>
								</div>
							    <div class="input-group">
									<span class="input-group-addon">消息内容</span> 
 									<textarea name="content"   placeholder="输入正文" required></textarea>
								</div>
							</div>
						</div>
					</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-default">提交</button>
				</div>
			</div>
		  </div>
		 </div>
		</form>
     </div>
 </div>
 
 
 <div th:fragment="hiddenAlterMessage">	
 <div class="modal fade" id="alterMessageManageModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<form  id="alterMessageForm" method="post" >
		 <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">题目</span> <input type="text"
										name="name"  id="message_name"  class="form-control" required>
								</div>
							    <div class="input-group">
									<span class="input-group-addon">正文</span> 
 									<textarea name="content"  id="message_content" placeholder="消息内容" required></textarea>
								</div>
							</div>
						</div>
					</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-default">提交</button>
				</div>
			</div>
		  </div>
		 </div>
		</form>
     </div>
 </div>
 
 
 
 <div th:fragment="hiddenAddQuestionBank">	
 <div class="modal fade" id="addQuestionBankModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<form  id="addQuestionBankForm" method="post" >
		 <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">题库名称</span> <input type="text"
										name="name"  id="questionBank_name"  class="form-control" required>
								</div>
							    <div class="input-group">
									<span class="input-group-addon">说明</span> 
 									<textarea name="info"   id="questionBank_info"  placeholder="题库说明" required></textarea>
								</div>
							</div>
						</div>
					</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-default">提交</button>
				</div>
			</div>
		  </div>
		 </div>
		</form>
     </div>
 </div>
 
 
 
 <div th:fragment="hiddenAddQuestion">	
 <div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<form  id="addQuestionForm" method="post" >
		 <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="form-group">
							    <div class="input-group">
									<span class="input-group-addon"><font color="red">*</font>题干</span> 
 									<textarea name="title"  placeholder="题干" required></textarea>
								</div>
							   <div class="input-group" >
									<span class="input-group-addon"><font color="red">*</font>选择类别：</span> 
									  <select class="select_styled"  name="questionType"  id="questionType_select"  onchange="selectChangeFunc()">
				                          <option value="0">判断题</option>
				                          <option value="1">单选题</option>
				                          <option value="2">多选题</option>
				                          <option value="3">问答题</option>
				                      </select>
								</div>
							  <div class="input-group" id="questionContent_textarea" style="display:none;">
									<span class="input-group-addon"><font color="red">*</font>选择题备选项</span> 
 									<textarea name="content"  placeholder="选择题备选项,请用|(竖线)进行分割" ></textarea>
							 </div>
						  <div class="input-group" >
									<span class="input-group-addon"><font color="red">*</font>答案</span> 
 									<textarea name="answer"  placeholder="答案" required></textarea>
					   </div>
					    <div class="input-group" >
									<span class="input-group-addon"><font color="red">*</font>题库标签</span> 
									<div class='input_styled checklist'>
	 									<div class='rowCheckbox checkbox-large'  id="bank_labels">
	 									       
	 								    </div>
 								   </div>
					        </div>
							</div>
						</div>
					</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-default">提交</button>
				</div>
			</div>
		  </div>
		 </div>
		</form>
     </div>
 </div>

   
   
   <div th:fragment="hiddenAlterQuestion">	
 <div class="modal fade" id="alterQuestionModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<form  id="alterQuestionForm" method="post" >
		 <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="form-group">
							    <div class="input-group">
									<span class="input-group-addon"><font color="red">*</font>题干</span> 
 									<textarea name="title" id="question_title" placeholder="题干" required></textarea>
								</div>
							  <div class="input-group" id="alter_questionContent_textarea">
									<span class="input-group-addon"><font color="red">*</font>选择题备选项</span> 
 									<textarea name="content" id="question_content" placeholder="选择题备选项,请用|(竖线)进行分割" ></textarea>
							 </div>
						  <div class="input-group" >
									<span class="input-group-addon"><font color="red">*</font>答案</span> 
 									<textarea name="answer" id="question_answer"  placeholder="答案" required></textarea>
					   </div>
					    <div class="input-group" >
									<span class="input-group-addon"><font color="red">*</font>题库标签</span> 
									<div class='input_styled checklist'>
	 									<div class='rowCheckbox checkbox-large'  id="alter_bank_labels">
	 									       
	 								    </div>
 								   </div>
					        </div>
							</div>
						</div>
					</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-default">提交</button>
				</div>
			</div>
		  </div>
		 </div>
		</form>
     </div>
 </div>
 
 
   <div th:fragment="hiddenImportQuestion">	
 <div class="modal fade" id="importQuestionModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<form id='import_question_form' method='post' enctype='multipart/form-data'>
		 <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					      <div id='import_question_div' title='导入题库文件'>
		                        
			                   <div class='input-group form-group'>
				                    <span class='input-group-addon'>题库excel格式文件：</span>
				                     <input id='questionfile' type='file' style='display:none' name='uploadFile'> 
				                    <input type='text' class='form-control' id='questionfiletext' name='questionfiletext'>
				                     <a onclick="setFileText()" class="btn btn-green pull-right"><span>选择文件</span></a>
			                    </div>
				    </div>
			</div>
		  	<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-default">提交</button>
				</div>
		  </div>
		 </div>
		 	</form>
     </div>
 </div>
   
 </body>
</html>